<html>
    <head>
        <title>LisaLoudness Django Girls blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Django Girls Blog</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14 at City Hall</p>
            <h2><a href="">My first post</a></h2>
            <p>Didn't we have a lovely time the day we went to Cardiff</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">Didn't we have a lovely day the day we went to PyCon</a></h2>
            <p>A very handy handy tool</p>
        </div>
    </body>
</html>